<script type="text/javascript" src="{{ static_url('jquery-3.2.1.min.js')}}"></script>
<!--<script type="text/javascript" src="{{static_url('socket.io.min.js')}}"></script>-->
<script type="text/javascript" src="{{static_url('jsqrcode/grid.js')}}"></script>

<script type="text/javascript" src="{{static_url('jsqrcode/version.js')}}"></script>

<script type="text/javascript" src="{{static_url('jsqrcode/detector.js')}}"></script>

<script type="text/javascript" src="{{static_url('jsqrcode/formatinf.js')}}"></script>

<script type="text/javascript" src="{{static_url('jsqrcode/errorlevel.js')}}"></script>

<script type="text/javascript" src="{{static_url('jsqrcode/bitmat.js')}}"></script>
<script type="text/javascript" src="{{static_url('jsqrcode/datablock.js')}}"></script>
<script type="text/javascript" src="{{static_url('jsqrcode/bmparser.js')}}"></script>
<script type="text/javascript" src="{{static_url('jsqrcode/datamask.js')}}"></script>
<script type="text/javascript" src="{{static_url('jsqrcode/rsdecoder.js')}}"></script>
<script type="text/javascript" src="{{static_url('jsqrcode/gf256poly.js')}}"></script>
<script type="text/javascript" src="{{static_url('jsqrcode/gf256.js')}}"></script>
<script type="text/javascript" src="{{static_url('jsqrcode/decoder.js')}}"></script>
<script type="text/javascript" src="{{static_url('jsqrcode/qrcode.js')}}"></script>
<script type="text/javascript" src="{{static_url('jsqrcode/findpat.js')}}"></script>
<script type="text/javascript" src="{{static_url('jsqrcode/alignpat.js')}}"></script>
<script type="text/javascript" src="{{static_url('jsqrcode/databr.js')}}"></script>











<!--<link href="{{static_url('bootstrap//css/bootstrap.min.css')}}" rel="stylesheet">-->